.title {
    margin-top: 90px;
    margin-bottom: 50px;
    color: #5A5494;
}

.articleText {
    line-height: 200%;
    color: #590696;
    text-align: justify;
}

.articleText:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.articleItem img {
    width: 350px;
    float: right;
    margin-left: 30px;
}

